*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.conecciones{
    width: 100%;
    height: 60px;
    border-top: 2px solid rgb(4, 8, 56);
    display: flex;
    background-color: #fff;

    flex-direction: row;
    justify-content: center;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
html{
    font-size: 62.5%;/*<--Unidad general 10px para unidad rem*/
}
.boton_1, .boton_2, .boton_3, .boton_4{
    background-color: rgb(4, 8, 56);
    padding: 20px 20px 20px 20px;
    margin: 10px;
    border-radius: 100%;
    text-align: center;
    color: rgb(4, 8, 56);
}
.boton_2{
    margin-left: 20px;
    margin-right: 20px;
}
.boton_3{
    margin-right: 20px;
}
body{
    margin-bottom: 60px;
}