*{
    margin: 0;
    padding: 0;
}
.item_1{
    width: 130px;
    height: 130px;
    border-radius: 100%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 55px;
    background-color: rgb(99, 13, 136);
}
.item_2{
    width: 280px;
    height: 27px;
    border-radius: 50px;
    margin: auto;
    background-color: rgb(36, 2, 68);
    margin-bottom: 30px;
}
.item_3, .item_4{
    width: 120px;
    height: 15px;
    margin: auto;
    background-color: rgb(5, 5, 58);
    margin-top: 10px;
    border-radius: 50px;
}
.item_5{
    width: 260px;
    height: 160px;
    border-radius: 20px;
    margin: auto;
    background-color: rgb(241, 130, 89);
    margin-bottom: 20px;
    margin-top: 30px;
}
.item_6{
    width: 270px;
    height: 30px;
    border-radius: 10px;
    margin: auto;
    background-color: rgb(9, 9, 70);
    margin-bottom: 30px;
}